#subject-filter {
  text-align: start;
  background-color: transparent;
  color: black;
}
#subject-filter::placeholder {
  color: grey;
}

.search-icon {
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.4s;
}
.search-icon:active {
  color: var(--filter-side-hover-color);
}
.search-icon:hover {
  color: var(--filter-side-color);
}
