.mail-filter {
  display: flex;
  background-color: white;
  border-radius: 25px;
  width: fit-content;
  padding: 10px 20px;
  justify-self: center;
  place-items: center;

  gap: 10px;

  border: 1px rgba(127, 125, 125, 0.644) solid;
  box-shadow: 0px 0px 5px -1px rgba(181, 178, 178, 0.71);
  /* -webkit-box-shadow: 0px 0px 5px -1px rgba(181, 178, 178, 0.71);
  -moz-box-shadow: 0px 0px 5px -1px rgba(181, 178, 178, 0.71); */
}

#subject-filter {
  text-align: start;
  background-color: transparent;
  color: black;
}
#subject-filter::placeholder {
  color: grey;
}

.search-icon {
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.4s;
}
.search-icon:active {
  color: var(--filter-side-hover-color);
}
.search-icon:hover {
  color: var(--filter-side-color);
}
