.read {
  /* color: plum; */
  background-color: lightgrey;
  opacity: 0.5;
}

.sub-body-container {
  padding: 0px 10px;
  /* display: flex;
  flex-direction: row; */
  gap: 10px;
  /* justify-content: space-between; */
  text-align: start;
}

.subject {
  /* text-align: start; */
  font-weight: 700;
}
.body {
  /* text-align: end; */
}
