.mail-details {
  display: grid;
  grid-template-areas:
    'from .'
    'to .'
    'subject subject'
    'body body';
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.532);
  border: 1px lightgray solid;
  border-radius: 8px;
  box-shadow: 0px 0px 2px 1px #b7b7b857;
}

.mail-details .from {
  text-align: start;
  grid-area: from;

  font-size: 1em;
}

.mail-details .from span {
  color: var(--details-from-color);
}

.mail-details .to {
  text-align: start;
  grid-area: to;

  font-size: 1em;
  margin-bottom: 10px;
}

.mail-details .to span {
  color: var(--details-to-color);
}

.mail-details .subject {
  grid-area: subject;
  color: var(--details-subject-color);

  font-size: 1.6em;
  margin-bottom: 20px;
}

.mail-details .body {
  grid-area: body;
  color: var(--details-body-color);

  font-size: 1.2em;
}
