.mail-details {
  display: grid;
  grid-template-areas:
    'from .'
    'to .'
    'subject subject'
    'body body';
  padding: 20px;
}

.mail-details .from {
  text-align: start;
  grid-area: from;
  color: blue;
}
.mail-details .to {
  text-align: start;

  grid-area: to;

  color: blue;
  margin-bottom: 10px;
}
.mail-details .subject {
  grid-area: subject;
  color: rgba(72, 0, 255, 0.619);
  margin-bottom: 20px;
}
.mail-details .body {
  grid-area: body;
  color: rgb(0, 0, 0);
}
