.read {
  /* color: plum; */
  opacity: 0.5;
}

.sub-body-container {
  padding: 0px 10px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.subject {
  font-weight: 700;
}
.body {
}
