/* About Section */
.home-about {
  display: flex;
  flex-direction: column;
  background-color: #5f9fca13;
  padding: 30px;
  place-items: center;
}

.about-title-container {
}

.team-member-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* Title Section */
.about-title {
  font-size: 2em;
  font-family: roboto-regular;
  margin-bottom: 1em;
}

/* Member Article */
.team-member {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 940px) {
  .team-member-container {
    flex-direction: column;
  }
  .team-member {
    flex-basis: 100%;
    margin-top: 30px;
  }
}

.general-info {
}

.avatar-team-member {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: #9f31b8a5 5px solid;
}

.name-title {
  font-family: roboto-light;
  font-size: 1.5em;
  font-weight: 800;
}

.job-title {
  font-family: roboto-regular;
  font-size: 1.4em;
}

.social-links-container {
  font-size: 2em;
  margin-bottom: 10px;
}

.about-description {
  font-family: roboto-light;
  /* color: grey; */
  font-weight: 200;
  font-size: 1.2em;
  text-align: center;
}

.social-link:hover {
  color: var(--main-purple);
}
