#root {
  width: 100vw;
}

.app {
  background-color: var(--main-bg-color);
  height: 100vh;
}

.home {
  background-color: var(--main-bg-color);
  font-family: 'Quicksand';
  /* height: 100vh; */
}

.home-intro-section {
  margin-bottom: 40px;
}

.home-links-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.home-about-section {
}
