/* Links Section */
.home-links {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* width: 1em; */
}
.home-links a {
  margin: auto;
}

/* Sections */

.home-hero-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.home-links-container {
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
  justify-content: space-evenly;

  font-size: 10em;
  color: var(--main-purple);
}

/* Hero */

.home-links-title {
  font-size: 2em;
  font-family: roboto-regular;
  margin-bottom: 1em;
}

.home-links-hero {
  font-family: roboto-light;
  font-size: 1.4em;
}

/* Links */

.home-links-email {
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.home-links-notes {
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.home-links-books {
  cursor: pointer;
  width: 100px;
  height: 100px;
}
