.app {
    background-color: var(--main-bg-color);
    height: 100vh;
}

.home {
    background-color: var(--main-bg-color);
    font-family: 'Quicksand';
    /* height: 100%; */
}
.logo{
    font-family: 'Comfortaa';
    font-size: 7em;
    align-self: center;
}
.logo-body{
    font-size: 20em;
}
.home-intro {
    /* background-color: chartreuse; */
    background-image: url("../../img/home/Background/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    height: 80vh;
    justify-items: center;
}

.home-app {
    /* background-color:darkred; */

    display: grid;
    justify-items: center;
    margin-bottom: 50px;
}


.home-links {
    /* background-color:darkorchid; */

    display: grid;
    width: 95vw;
    max-height: 20em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "head head head"
    "sub sub sub"
    "email notes books" ;
    justify-items: center;
    /* gap: 50px; */
    padding: 10px;
    margin-bottom: 30px;


}

.home-links-header{
grid-area: head;
}
.home-links-sub{
grid-area: sub;
}
.home-links-email{
 grid-area: email;   
}
.home-links-notes{
 grid-area: notes;   
}
.home-links-books{
 grid-area: books;   
}
.home-links a {
    width: 100px;
}

.home-links img {
    width: 100%;
}

.home-about {
    /* background-color: mediumvioletred; */
    background-color: #5f9fca13;
    padding: 30px;


}

.apps-links{
    font-size: 10em;
    color: var(--main-purple)
}

.team-member{
    display:grid;
    /* grid-template-columns: repeat(2,1fr); */
    grid-template-rows: 1fr 3fr;
}

.general-info{
    grid-row:1;
    text-align: center;
}
.about-description{
grid-row: 2/4;
}


.social-buttons{
    display: flex;
    list-style: none;
}

.about-description{
text-align: left;
}

.about-header{
    margin-bottom: 20px;
}