.app {
    background-image: url("../../img/home/Background/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.home {
    background-color: rgba(255, 255, 255, 0.355);
    font-family: 'Quicksand';
    /* height: 100%; */
}
.logo{
    font-family: 'Gruppo';
    font-size: 7em;
}
.logo-body{
    font-size: 20em;
}
.home-intro {
    /* background-color: chartreuse; */
    display: grid;
    margin-bottom: 50px;
}

.home-app {
    /* background-color:darkred; */

    display: grid;
    justify-items: center;
    margin-bottom: 50px;
}


.home-links {
    /* background-color:darkorchid; */

    display: grid;
    width: fit-content;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 50px;
    padding: 10px;


}

.home-links a {
    width: 100px;
}

.home-links img {
    width: 100%;
}

.home-about {
    /* background-color: mediumvioletred; */


}