:root {
    /* main */
    --main-bg-color: lightblue;
    --font-color: black;
    --input-bg: #eaf1fb;
    --list-bg: rgba(245, 242, 242, 0.537);
    /* nav */
    --nav-bg-color: red;
    /* mail */
    /* note */
    --s : 80vw
}