.color-palette-container {
    position: relative;
    bottom: -34px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    border:1px solid #706b6b44;
    border-top: none;
    border-radius: 8px;
    padding: 5px
}

.color-select {

    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.purple-bg {
    background-color: var(--purple);
}

.pink-bg {
    background-color: var(--pink);
}

.blue-bg {
    background-color: var(--blue);
}

.green-bg {
    background-color: var(--green);
}