.color-palette-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.color-select {

    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.purple-bg {
    background-color: var(--purple);
}

.pink-bg {
    background-color: var(--pink);
}

.blue-bg {
    background-color: var(--blue);
}

.green-bg {
    background-color: var(--green);
}