.edit-container {
  /* display:block;
  margin:auto;
  position: sticky; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--modal-bg);
  width: 50vw;
  height: 200px;
  font-family: roboto-light;
  padding: 20px;
  border-radius: 8px;
}

.edit-note-txt {
  font-family: inherit;
  padding: 20px;
  border: none;
  border-radius: 10px;
  width: 92%;
  height: 60%;
  position: absolute;
  top: 10px;
  left: 4%;
  right: 4%;
}

.btn-close-editor {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  border-radius: 25px;
}
