.edit-container {
    display: block;
    position: fixed;
    top: 40vh;
    left: 30vw;
    background-color:var(--modal-bg);
    width: 50vw;
    height: 200px;
    font-family: roboto-light;
    padding: 20px;
    border-radius: 8px;
}

.edit-note-txt{
    font-family: inherit;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width:90%;
}