.note-list {
    padding: 15px 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    background-color: var(--clr3bg-light);
    margin: 0;
    padding: 16px;
}

.note-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clr3bg);
}