.note-list {
    padding: 15px 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 35px;
    margin: 0 20px;
    /* padding: 16px; */
}

.note-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--list-bg);
    border: 1px solid transparent;
    border-color: #e0e0e0;
    border-radius: 8px;
    border-width: 0.5px 0.5px 0.5px 2px;
    min-height: 150px;
    /* padding: 100px 0 0; */
    box-shadow: inset 1px 2px 0 rgb(0 0 0 / 1%), inset 0 -1px 0 rgb(0 0 0 / 2%);
}

.note-list li.default{
    background-color: var(--list-bg);
}
.note-list li.purple{
    background-color: var(--purple);
}
.note-list li.blue{
    background-color: var(--blue);
}
.note-list li.green{
    background-color: var(--green);
}
.note-list li.pink{
    background-color: var(--pink);
}