* {
  box-sizing: border-box;
  text-align: center;
}

html {
  font-family: roboto-regular, sans-serif;
  color: var(--font-color);
  letter-spacing: 0.48px;
  line-height: 1.13;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

input {
  background: transparent;
  border: none;
  /* display: block; */
  outline: none;
  margin: 0 auto;
}

@media (min-width: 780px) {
  html {
    font-size: 0.8rem;
  }
}

@media (min-width: 1060px) {
  html {
    font-size: 1rem;
  }
}
