button {
    font-family: inherit;
    cursor: pointer;
    font-size: 1em;
}

a {
    color: inherit;
}

.a-btn {

font-size: 1em;
text-decoration: none;
width: fit-content;
background-color: blueviolet;
color: whitesmoke;
padding: 10px;
border-radius: 8px;
transition: 0.3s;
}

.a-btn:hover {
background-color: blue;
color: whitesmoke;
}

.a-btn:active {
    color: gold;
font-size: 0.9em;
}
