.main-layout > *:not(.full) {
  /* max-width: 980px; */
  max-width: var(--s);
  margin-left: auto;
  margin-right: auto;
}

.header-layout {
  max-width: var(--s);
  margin-left: auto;
  margin-right: auto;
}

/* @media (min-width: 780px) {
    .main-layout>*:not(.full) {
        max-width: var(--m);
    }
}

@media (min-width: 1060px) {
    .main-layout>*:not(.full) {
        max-width: var(--l);
    }
} */
