#note-txt{
    font-family: roboto-light;
    font-size: 1.2em;
    padding:10px;
    border:none;
    background-color: var(--input-bg);
    border-radius: 10px;
    width:60vw;
    height: 50px;
}

.note-index{
    background-color: rgba(223, 222, 222, 0.832);
    padding: 20px 0 ;
}

.note-index-container{
    margin-top: 20px;
}