.app-header {
  background: var(--main-purple);
  border-bottom: 2px solid white;
  /* margin-bottom: 40px; */
  font-family: Lato-light;
  font-size: 1.5em;
  font-weight: 700;
  color: whitesmoke;
  padding: 20px 30px;
}

.nav-header {
  display: grid;
  grid-template-areas: 'logo more' '. links';
  place-content: center;
  place-items: center;
  justify-content: space-between;
}

.nav-header-logo-section {
  grid-area: logo;
}
.nav-header-links-section {
  grid-area: links;
  display: none;
  flex-direction: column;
}
.nav-header-more-section {
  grid-area: more;
}

.logo-header {
  font-size: 1.5em;
}

.logo-header:hover {
  color: pink;
}

.title-header {
  display: none;
  margin-left: 10px;
}

nav a {
  transition: 0.3s;
}

.links-header {
  display: none;
}

.links-header a:hover {
  color: var(--header-links-hover-color);
}

nav a:active {
  color: var(--header-links-active-color);
}

nav a.active {
  color: var(--header-links-active-status-color);
  font-weight: bold;
  text-decoration: overline;
}

@media (min-width: 780px) {
  .app-header {
    padding: 20px 0px;
  }
  .title-header {
    display: inline;
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Comfortaa';
  }

  .nav-header {
    grid-template-areas: 'logo links';
    place-content: center;
    place-items: center;
    justify-content: space-between;
  }

  .nav-header-more-section {
    display: none;
  }

  .nav-header-links-section {
    display: block !important;
  }
}
