header {
    background: var(--main-purple);
    border-bottom: 2px solid white;
    /* margin-bottom: 50px; */
    font-family: 'Quicksand';
    font-size: 1.2em;
    color: whitesmoke;
}

.app-header {
    /* display: flex;
    justify-content: space-evenly; */
    display: grid;
    grid-template-columns: 50px 1fr 300px;
    padding: 20px;
}

nav a {
    margin: .5em;
    text-decoration: none;
}

.logo-header{
    /* background-image: url('../img/home/logo.png'); */
    font-size: 1.5em;
}


nav a:active {
    color: purple;
}

nav a.active {
    color: pink;
    font-weight: bold;
    text-decoration: overline;
}