.app-header {
  background: var(--main-purple);
  border-bottom: 2px solid white;
  margin-bottom: 40px;
  font-family: 'Quicksand';
  font-size: 1.2em;
  color: whitesmoke;
  padding: 20px 0px;
}

.nav-header {
  display: flex;
  place-content: center;
  place-items: center;
  justify-content: space-between;
}

.logo-header {
  font-size: 1.5em;
}

.logo-header:hover {
  color: pink;
}

nav a {
  transition: 0.3s;
}

.links-header a:hover {
  color: var(--header-links-hover-color);
}

nav a:active {
  color: var(--header-links-active-color);
}

nav a.active {
  color: var(--header-links-active-status-color);
  font-weight: bold;
  text-decoration: overline;
}
